/* cm service */
.cm-service-wrap{ width: 1000px; height: 717px; margin: 30px auto 0 auto; position: relative; }
.service-a,.service-b,.service-c,.service-d,.service-e,.service-f,.service-g{ display: block; width: 333px; position: absolute; z-index: 11; overflow: hidden; cursor: pointer; }
.service-a{ height: 239px; left: 0; top: 478px; }
.service-b{ height: 239px; left: 0; top: 239px; }
.service-c{ height: 239px; left: 0; top: 0; }
.service-d{ height: 478px; left: 333px; top: 0; }
.service-e{ height: 239px; left: 333px; top: 478px; }
.service-f{ height: 239px; left: 666px; top: 0; }
.service-g{ height: 478px; left: 666px; top: 239px; }
.mask{ display: none; width: 100%; height: 500px; background: url(/images/v1/mask.png); position: absolute; z-index: 13; top: 0; left: 0; }
.service-a:hover .mask,.service-b:hover .mask,.service-c:hover .mask,.service-d:hover .mask,.service-e:hover .mask,.service-f:hover .mask,.service-g:hover .mask{ display: block; animation-name: serviceMask; -webkit-animation: serviceMask .4s linear 0s normal none; -moz-animation: serviceMask .4s linear 0s normal none; animation: serviceMask .4s linear 0s normal none; }
@-webkit-keyframes serviceMask{ from { opacity: 0; -webkit-transform: translateY(-10px) } to { opacity: 1; -webkit-transform: translateY(0) } }
@-moz-keyframes serviceMask{ from { opacity: 0; -moz-transform: translateY(-10px) } to { opacity: 1; -moz-transform: translateY(0) } }
@keyframes serviceMask{ from { opacity: 0; transform: translateY(-10px) } to { opacity: 1; transform: translateY(0) } }
.service-bewrite{ display: block; width: 80%; padding: 0 10%; position: absolute; z-index: 33; left: 0; }
.service-bewrite.pt-top{ bottom: 145px; }
.service-bewrite.pt-bottom{ bottom: 26px; }
.service-bewrite.pt-center{ bottom: 322px; }
.service-bewrite strong,.service-bewrite em{ display: block; width: 100%; }
.service-bewrite strong{ line-height: 30px; font-size: 22px; font-weight: normal; }
.service-bewrite em{ height: 22px; font-weight: normal; }
.service-bewrite strong.stac,.service-bewrite em.etac{ text-align: center; }
.service-bewrite strong.color-white,.service-bewrite em.color-white{ color: #fff; }
.service-a:hover strong,.service-b:hover strong,.service-c:hover strong,.service-d:hover strong,.service-e:hover strong,.service-f:hover strong,.service-g:hover strong,.service-a:hover em,.service-b:hover em,.service-c:hover em,.service-d:hover em,.service-e:hover em,.service-f:hover em,.service-g:hover em{ color: #fff; }
.service-a .service-bewrite,.service-b .service-bewrite,.service-c .service-bewrite,.service-d .service-bewrite,.service-e .service-bewrite,.service-f .service-bewrite,.service-g .service-bewrite{ transition:bottom .4s ease-in-out; -moz-transition:bottom .4s ease-in-out; -webkit-transition:bottom .4s ease-in-out; -ms-transition:bottom .4s ease-in-out; }
.service-a:hover .service-bewrite,.service-b:hover .service-bewrite,.service-c:hover .service-bewrite,.service-d:hover .service-bewrite,.service-e:hover .service-bewrite{ bottom: 36px; }
.service-f:hover .service-bewrite{ bottom: 155px; }
.service-g:hover .service-bewrite{ bottom: 332px; }
/* home news */
.cm-news{ width: 1000px; height: 466px; margin: 0 auto; overflow: hidden; }
.cm-news-list{ width: 1032px; height: 390px; padding-top: 30px; }
.cm-news-list li{ width: 312px; height: 390px; margin-right: 32px; overflow: hidden; float: left; }
.cm-news-link{ display: block; width: 312px; height: 230px; overflow: hidden; }
.cm-news-link img { width:312px; height:230px;}
.cm-news-text{ display: block; width: 312px; height: 116px; cursor: pointer; }
.cm-news-text i,.cm-news-text strong{ display: block; width: 312px; text-align: center; font-weight: normal; overflow: hidden; }
.cm-news-text strong{ height: 46px; line-height: 46px; padding-top: 10px; font-size: 22px; color: #333; -moz-transition:color .4s ease-in; -webkit-transition:color .4s ease-in; -ms-transition:color .4s ease-in; transition:color .4s ease-in; }
.cm-news-text i{ height: 60px; line-height: 20px; overflow:hidden; color: #666; }
.cm-news-text:hover strong{ color: #ff6811; }
.cm-news-text:hover i{ color: #666; }
.cm-news-text strong.home-news-hover,.cm-news-text strong:hover{ color: #ff6811; }
/* sub header */
.sub-header{ width: 100%; height: 80px; background: #fff; border-bottom: 1px solid #ebebeb; }
.sub-header h1{ display: none; }
.sub-header-main{ width: 1000px; height: 80px; margin: 0 auto; position: relative; }
.sub-logo{ display: block; width: 94px; height: 50px; background: url(/images/v1/sub-logo.png) no-repeat left top; position: absolute; z-index: 11; top: 15px; left: 0; }
.sub-nav{ height: 40px; padding: 20px 0; text-align: right; }
.sub-nav a{ display: inline-block; height: 40px; line-height: 40px; padding-left: 54px; font-size: 14px; color: #4a4a4a; }
.sub-nav a:hover,.sub-nav a.cur{ color: #ec632c; -moz-transition:color .4s ease-in; -webkit-transition:color .4s ease-in; -ms-transition:color .4s ease-in; transition:color .4s ease-in; }
/* sub wrap */
.sub-wrap{ width: 1000px; padding: 18px 0; margin: 0 auto; }
.news-class{ width: 1000px; height: 30px; line-height: 30px; text-align: right; }
.news-class i,.news-class a{ display: inline-block; height: 30px; line-height: 30px; vertical-align: top; }
.news-class a{ padding: 0 20px; }
.news-class a#slinka{ padding: 0 0 0 20px; }
.news-class i{ color: #999; }
.news-class a:hover,.news-class a.curs{ color: #ec632c; }
.sub-news-main,.news-detail-main{ width: 622px; float: left; }
.cm-about-info{ width: 310px; padding-top: 40px; float: right; }
.cm-about-info.no-padding{ padding: 0; }
.news-concur{ display: block; width: 310px; height: 310px; overflow: hidden; cursor: pointer; }
.news-code-main{ width: 308px; height: 510px; margin: 20px 0; border: 1px solid #ebebeb; }
.news-code{ display: block; width: 182px; height: 153px; margin: 0 auto; padding-top: 60px; }
.news-code i,.news-code em{ display: block; width: 182px; margin: 0 auto; text-align: center; font-size: 14px; overflow: hidden; }
.news-code i{ height: 143px; }
.news-code em{ height: 30px; line-height: 30px; color: #999; text-align: center; }
.news-sub-title{ width: 100%; height: 36px; font-size: 20px; }
.news-hot-list,.news-hot-list li{ width: 308px; }
.news-hot-list li i,.news-hot-list li a{ display: inline-block; height: 32px; line-height: 32px; vertical-align: top; }
.news-hot-list li i{ width: 30px; text-align: center; font-size: 16px; color: #999; }
.news-hot-list li a{ width: 270px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; content: '...'; }
.news-hot-list li a:hover,.news-hot-list li i.rank,.news-hot-list li i.rank-1,.news-hot-list li i.rank-2,.news-hot-list li i.rank-3{ color: #ec632c; }
.news-content{ width: 420px; height: 135px; padding: 40px 0 40px 200px; border-bottom: 1px solid #ebebeb; position: relative; overflow: hidden; }
.news-cont-img,.news-cont-title,.news-time,.news-cont-text{ display: block; }
.news-cont-img{ width: 180px; height: 109px; position: absolute; z-index: 11; top: 40px; left: 0; overflow: hidden; -moz-transition:opacity .4s ease-in; -webkit-transition:opacity .4s ease-in; -ms-transition:opacity .4s ease-in; transition:opacity .4s ease-in; }
.news-time{ height: 28px; line-height: 28px; color: #999; }
.news-cont-title{ line-height: 32px; font-size: 22px; font-weight:bold;}
.news-cont-text{ height: 44px; line-height: 22px; overflow: hidden; }
.news-cont-title:hover{ color: #ec632c; }
.news-cont-img:hover,.cp-img:hover{ opacity: .8; filter:alpha(opacity=80); }
.news-cont-img img {width: 180px; min-height:109px;}
/* news detail */
.news-detail-main{ padding: 40px 0; overflow: hidden; }
.news-detail-title h2{font-size: 26px; color: #333; font-weight:bold; }
.news-detail-title i,.news-detail-title em{ display: block; color: #999; font-size: 14px; }
.news-detail-title i{ height: 30px; line-height: 30px; padding-bottom: 20px; }
.news-detail-title .author { color:#999;}
.news-detail-title em{ height: 24px; line-height: 24px; }
.news-detail-content p{ line-height: 32px; padding-bottom: 30px; font-size: 16px; color: #333; }
.news-detail-content p img { max-width:100%;}
.news-detail-content p.tac{ text-align: center; }
.news-detail-content p a{ color: #333; }
.news-detail-content p a:hover,.cp-title:hover{ color: #ec632c; }
.news-detail-content p strong{ font-size: 18px; font-weight: bold; }
.news-detail-content blockquote { padding: 10px 15px; margin:0; line-height:1.6em; border-left: 4px #ddd solid;background: #F5F5F5;font-size: .95em; margin-bottom:20px;}
.news-detail-content blockquote p { margin-bottom:0; padding-bottom:0;}
/* product style */
.product-body{ background: #f3f3f3; }
.cm-product-wrap{ padding: 20px 0 80px 0; }
.cm-product-list{ width: 1018px; margin: 0 auto; }
.cm-product-list li{ display: inline; width: 327px; height: 160px; margin: 10px 5px 0 5px; border: 1px solid #ebebeb; background: #fff; position: relative; float: left; }
.cm-product-title{ width: 1004px; height: 30px; line-height: 30px; margin: 0 auto; padding-top: 40px; font-size: 20px; }
.client-product,.service-product{ display: block; width: 252px; height: 72px; padding: 44px 37px; position: relative; overflow: hidden; }
.service-product{ text-align: center; }
.cp-img{ display: block; width: 78px; height: 78px; position: absolute; z-index: 11; top: 44px; left: 37px; overflow: hidden; -moz-transition:opacity .4s ease-in; -webkit-transition:opacity .4s ease-in; -ms-transition:opacity .4s ease-in; transition:opacity .4s ease-in; }
.cp-title,.client-product .cp-text,.client-product p{ display: block; width: 188px; padding-left: 94px; overflow: hidden; vertical-align: top; }
.cp-title{ height: 24px; margin-top: -3px; font-size: 16px; }
.cp-title.pc-title{ padding-top: 15px; }
.cp-text{ height: 24px; color: #666; }
.cp-android,.cp-ios,.cp-win{ display: inline-block; width: 26px; height: 26px; margin-right: 5px; background: url(/images/v1/icon.png); background-repeat: no-repeat; -webkit-transition: background-position .2s ease; -moz-transition: background-position .2s ease; -ms-transition: background-position .2s ease; transition: background-position .2s ease }
.cp-android{ background-position: left -514px; }
.cp-ios{ background-position: -31px -514px; }
.cp-win{ background-position: -61px -514px; }
.cp-android:hover{ background-position: left -541px; }
.cp-ios:hover{ background-position: -31px -541px; }
.cp-win:hover{ background-position: -61px -541px; }
/* pages */
#pages{ display: block; height: 26px; padding: 40px 0; text-align: center; }
#pages i,#pages a,#pages span{ display: inline-block; width: 26px; height: 26px; line-height: 26px; margin: 0 4px; text-align: center; font-size: 14px; vertical-align: top; }
#pages a:hover{ color: #ec632c; }
#pages .pages-prev,#pages .pages-next{ margin: 0 10px; }
#pages .cur,#pages .cur:hover{ background: #ec632c; color: #fff; }
#pages .pages-total,#pages .pages-home,#pages .pages-last { display:none;}