@media(max-width:880px){
	/* about */
	.header{ height: 50px; }
	.logo{ left: 20px; }
	.cm-news{ padding: 20px 0; }
	.next{ right: 20px; }
	.prev{ left: 20px; }
	.logo{ width: 61px; height: 32px; top: 9px; left: 10px; background-size: cover; }
	.nav{ height: 50px; line-height: 50px; padding: 0; }
	.nav a{ margin: 0 8px; }
	.home-product-tab{ width: 96%; margin: 20px auto; }
	.slide-main,.slide{ width: 100%; }
	.item{ bottom: 20px; }
	.prev,.next{ display: none; }
	.sub-title b{ font-size: 24px; }
	.service-bewrite strong{ font-size: 16px; }
	.slide-img-sa{ width: 448px; height: 320px; margin-left:-224px; }
	.slide-img-sa img,.slide-img-sb img,.slide-img-sc img,.st-b-a img,.home-product-cmphone img{ width: 100%; vertical-align: top; }
	.slide-img-sb{ width: 160px; height: 174px; margin: -90px 0 0 -240px; }
	.slide-img-sc{ width: 110px; height: 42px; margin: 70px 0 0 -215px; }
	.st-b-a{ width: 288px; height: 122px; margin-top: -61px; }
	.st-b-a b{ font-size: 30px; }
	.st-b-a strong{ font-size: 42px; }
	.st-b-a i{ font-size: 14px; padding-right: 38px; }
	.home-product-wrap,.cm-service{ padding-top: 30px; }
	.web-title{ margin-top: -40px; }
	.web-title h2{ height: 46px; line-height: 100%; font-size: 36px; }
	.web-title p{ line-height: 100%; font-size: 20px; }
	.p-t-a,.p-t-b,.p-t-c,.p-t-d,.p-t-e,.p-i-a,.p-i-b,.p-i-c,.p-i-d,.p-i-e{ display: none; background-position: -10000px -10000px; }
	.home-product-tab,.home-product-tab a{ height: 40px; }
	.home-product-tab a i,.home-product-tab a strong{ height: 40px; line-height: 40px; font-size: 1em; }
	.home-product-tab a.tab-cur:hover strong{ text-indent: 0px; }
	.home-product-main,.home-product-content{ width: 100%; height: 380px; }
	.cm-news-text strong{ height: 30px; line-height: 30px; font-size: 16px; }
  #trainTicket { background:#ff6711 url(/images/v1/slide/bg-train-tickets.jpg) no-repeat; background-size:cover; }
}
@media(max-width:700px){
	.home-product-tab,.footer-copy a{ display: none; }
	.logo{ width: 60px; height: 17px; top: 17px; left: 10px; background: url(/images/v1/phone-logo.png) no-repeat left top; background-size: cover; }
	.service-a,.service-b,.service-c,.service-d,.service-e,.service-f,.service-g{ display: block; width: 100%; height: 184px; margin: 0 10px 10px 0; position: absolute; z-index: 11; overflow: hidden; background: rgba(0,0,0,.4); cursor: pointer; position: static; position: relative; left: 0; top: auto; float: left; }
	.service-g{ margin: 0 0 10px 0; }
	.service-bewrite{ display: block; width: 80%; padding: 0 10%; position: absolute; z-index: 33; left: 0; }
	.service-bewrite{ width: 100%; padding: 5px 10px; background: rgba(0,0,0,.5); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
	.service-a em,.service-b em,.service-c em,.service-d em,.service-e em,.service-f em,.service-g em{ display: none; }
	.service-a i,.service-b i,.service-c i,.service-d i,.service-e i,.service-f i,.service-g i{ width: 0; height: 0; }
	.service-a:hover .service-bewrite,.service-b:hover .service-bewrite,.service-c:hover .service-bewrite,.service-d:hover .service-bewrite,.service-e:hover .service-bewrite,.service-f:hover .service-bewrite,.service-g:hover .service-bewrite{ bottom: 0; }
	.service-bewrite.pt-top{ top: none; bottom: 0; }
	.service-bewrite.pt-bottom{ bottom: 0; }
	.service-bewrite.pt-center{ top: none; bottom: 0; }
	.service-bewrite strong.stac,.service-bewrite em.etac{ text-align: left; }
	.service-bewrite strong,.service-bewrite em{ color: #fff; }
	.cm-news{ padding-top: 30px; }
	.cm-news,.cm-news-text{ height: auto; }
	.sub-title b{ height: 36px; line-height: 36px; }
	.cm-news-text{ padding-bottom: 10px; }
	.cm-news-list{ padding-top: 10px; }
	.service-outer{ width: 100%; height: 204px; margin-top: 10px; overflow: hidden; }
	.cm-service{ width: 100%; height: 290px; position: relative; padding: 30px 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
	.cm-service-wrap{ width: 100%; height: 184px; margin: 0 auto; overflow: hidden; }
	.home-more-news{ width: 90px; height: 30px; }
	.home-more-news i{ width: 100%; height: 30px; line-height: 30px; }
	.cm-news-text strong{ height: 24px; line-height: 24px; padding: 3px 0; font-size: 1.25em; }
	.cm-news-text i{ line-height: 160%; padding-top: 0; font-size: 1em; }
	.service-a img,.service-b img,.service-c img,.service-d img,.service-e img,.service-f img,.service-g img{ width: 100%; height: auto; }
	.service-g img{ margin-top: -180px; }
	.news-list-wrap{ width: 100%; overflow-y: hidden; overflow-x: auto; }
	::-webkit-scrollbar{ display: none; }
	.cm-news-list{ min-width: 642px; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
	.cm-news-list li{ width: 200px; margin: 0 10px 0 0; padding-bottom: 10px; float: left; overflow: hidden; }
	.cm-news-list li:last-child{ margin-right: 0; }
	.cm-news-text strong{ padding-top: 10px; font-size: 1.25em; }
	.cm-news-link img{ max-width: 100%; height:120px;}
	.home-product-wrap{ display: block; padding: 30px 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
	.home-product-main{ display: none; width: 100%; height: auto; margin-top: 20px; }
	.home-product-content{ display: none; }
	.phone-product-outer,.phone-product-link{ display: block; }
	.phone-product-link{ width: 100%; margin-bottom: 10px; }
	.phone-product-outer{ padding: 24px 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
	.phone-product-link:last-child{ margin-bottom: 0; }
	.phone-product-link img{ width: 100%; vertical-align: top; }
	.slide{ height: 100%; }
	.slide-img-sa{ top: 50%; margin-top: -160px; }
	.slide-img-sb{ width: 150px; margin: -150px 0 0 -75px; }
	.slide-img-sc{ width: 100px; margin: 0px 0 0 -50px; }
	.st-b-a{ width: 180px; margin: 60px 0 0 -90px; }
	.st-b-a b{ font-size: 2em; text-align: center; }
	.st-b-a strong{ font-size: 2.5em; text-align: center; }
	.st-b-a i{ font-size: 1.25em; text-align: center; padding-right: 0; }
	.sldieAnimate{ display: block; z-index: 5; animation-name: sldieAnimateOuter; -webkit-animation: sldieAnimateOuter .4s linear 0s normal none; -moz-animation: sldieAnimateOuter .4s linear 0s normal none; animation: sldieAnimateOuter .4s linear 0s normal none; }
	@-webkit-keyframes sldieAnimateOuter{ from { -webkit-transform: scale(1.2,1.2) } to { -webkit-transform: scale(1,1) } }
	@-moz-keyframes sldieAnimateOuter{ from { -moz-transform: scale(1.2,1.2) } to { -moz-transform: scale(1,1) } }
	@keyframes sldieAnimateOuter{ from { transform: scale(1.2,1.2) } to { transform: scale(1,1) } }
	.service-item{ display: block; position: absolute; z-index: 3333; top: 264px; right: 20px; height: 6px; text-align: center; }
	.service-item a{ display: inline-block; width: 6px; height: 6px; background: #ccc; border-radius: 100%; margin: 0 3px; }
	.service-item a.active{ background: #fff; }
	.newlbqp-max-img{ width: 400px; height: 213px; z-index: 13; top: 50%; margin: -126px 0 0 -200px; }
	.newlbqp-back-img{ width: 400px; height: 78px; top: 50%; margin: 0px 0 0 -200px; }
	.newlbqp-btn{ width: 160px; height: 40px; line-height: 40px; margin: 110px 0 0 -80px; top: 50%; border-radius: 4px; background-image: none; background: #f93; font-size: 1.5em; }
	/* 2016 bus */
	.bus-bgimg{ display: block; height: 100%; background: url(/images/v1/slide/bg-img.png) no-repeat center 40px;  background-size: 100% 50%;  }
	#lbbus{ width: 100%; height: 100%; padding: 0; background-size: auto 50%; }
	.lbbus-ta{ width: 360px; height: auto; top: 50%; margin: -40px 0 0 -180px;  }
	.lbbus-tb{ width: 190px; height: 32px; top: 50%; margin: 30px 0 0 23px;  }
	.lbbus-bus{ width: 210px; height: 63px; top: 50%; margin: 30px 0 0 -213px; }
	.lbbus-btn{ width: 160px; height: auto; top: 50%; margin: 110px 0 0 -80px; }
	.lbbus-ta img,.lbbus-tb img,.lbbus-bus img,.lbbus-btn img{ width: 100%; vertical-align: top; }
	
	#cmlab .web-title { margin-left:-50%; width:100%;}
	#cmlab .web-title h2 { width:100%; background-size:90%; background-position:center 0;}
	#cmlab .lab-logo img { height:80px;}

  .ticket-sub { width: 320px; height: 61px; background-size: 320px 61px; }
  .ticket-home { width: 500px; height: 143px; background-size: 500px 143px; }
  .ticket-btn { width: 200px; height: 35px; background-size: 200px 35px; }
}
@media(max-width:540px){
	.newlbqp-max-img{ width: 280px; height: 149px; z-index: 13; top: 50%; margin: -95px 0 0 -140px; }
	.newlbqp-back-img{ width: 260px; height: 51px; top: 50%; margin: -6px 0 0 -130px; }
	.newlbqp-btn{ margin: 80px 0 0 -80px; }
	/* 2016 bus */
	.lbbus-ta{ width: 240px; height: auto; top: 50%; margin: -30px 0 0 -120px;  }
	.lbbus-tb{ width: 156px; height: 32px; top: 50%; margin: 20px 0 0 0;  }
	.lbbus-bus{ width: 150px; height: 63px; top: 50%; margin: 20px 0 0 -153px; }
	.lbbus-btn{ width: 140px; height: auto; top: 50%; margin: 80px 0 0 -70px; }

  .ticket-sub { width: 320px; height: 61px; background-size: 320px 61px; }
  .ticket-home { width: 340px; height: 97px; background-size: 340px 97px; }
  .ticket-btn { width: 200px; height: 35px; background-size: 200px 35px; }
}
@media(max-height: 340px){
	.slide-img-sb{ width: 100px; margin: -110px 0 0 -50px; }
	.slide-img-sc{ width: 60px; margin: -10px 0 0 -30px; }
	.st-b-a{ width: 220px; margin: 30px 0 0 -110px; }
	.st-b-a b{ font-size: 1.5em; text-align: center; }
	.st-b-a strong{ font-size: 2em; text-align: center; }
	.st-b-a i{ font-size: 1em; text-align: center; padding-right: 0; }

  .ticket-sub { width: 320px; height: 61px; background-size: 320px 61px; }
  .ticket-home { width: 340px; height: 97px; background-size: 340px 97px; }
  .ticket-btn { width: 200px; height: 35px; background-size: 200px 35px; }
}