@charset "utf-8";
/* CSS Document */
input { outline: none }
* { font-family: Georgia; }
.fl { float: left; }
.fr { float: right; }
a:hover { color: #00b1eb; }
.domPC { display: block; }
.domMobile { display: none; }
.hide { display: none; }
.con_box { width: 1000px; height: auto; overflow: hidden; margin: 0 auto; }
.line_box { width: 100%; height: auto; overflow: hidden; }
.banner { width: 100%; height: 370px; background: url(http://www.newsimg.cn/english/special/19cpcnc/images/banner.jpg) no-repeat 50% 0; }
.nav ul li, .nav ul li a { text-align: center; float: left; }
.nav { width: 100%; height: 70px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b21414+0,bd1115+13,dc0917+33,fc0018+49,ee0e10+100 */ background: #b21414; /* Old browsers */ background: -moz-linear-gradient(left, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b21414', endColorstr='#ee0e10', GradientType=1 ); /* IE6-9 */
}
.nav ul { width: 1200px; margin: 0 auto; z-index: 500 }
.nav ul li { padding: 0 34px 0 34px; }
.nav ul li, .nav ul li a { float: left; font-size: 21px; color: #fff; line-height: 70px; }
.nav ul li ul li, .nav ul li ul li a { width: 100%; color: #fff; }
.nav ul li a:hover { color: #fff; }
.nav ul .home, .nav ul .home a { line-height: 70px; height: 70px; margin-left: 25px; }
.nav .m h3 { font-weight: normal; }
.nav .m h3:before { content: ""; position: absolute; right: 0; top: 30px; width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px; border-color: #fff transparent transparent transparent; }
.nav .m { position: relative; float: left; width: 86px; display: inline; text-align: center; }
.nav .sub { display: none; width: 120px; position: absolute; left: 35px; top: 70px; background: #fff; float: left; line-height: 30px; border: 1px solid #f00b11; border-top: none; }
.nav .sub li { text-align: center; font-size: 16px; color: #f00b11; width: 100%; float: none; padding: 4px 0; line-height: 20px; }
.nav .sub li a { color: #f00b11; display: block; zoom: 1; line-height: 20px; float: none; }
.nav .sub li a:hover { color: #f00b11; }
.nav ul .ono:hover { background: #fe3c4a; -webkit-transform: skew(-20deg); -moz-transform: skew(-20deg); -o-transform: skew(-20deg); -ms-transform: skew(-20deg); transform: skew(-20deg); }
.nav ul .ono:hover a { display: block; background: #fe3c4a; -webkit-transform: skew(20deg); -moz-transform: skew(20deg); -o-transform: skew(20deg); -ms-transform: skew(20deg); transform: skew(20deg); }
/*END*/
/*Explore*/
.explore_box { width: 100%; height: 420px; background: #3e3e3e; margin-top: 35px; margin-bottom: 25px; }
.exp_tit { width: 260px; height: 24px; font-size: 24px; color: #fff; line-height: 24px; padding-top: 146px; }
.exp_con { list-style: none; width: 660px; height: auto; margin-top: 45px; }
.exp_con li { float: left; width: 140px; height: 340px; overflow: hidden; }
.exp_con li + li { margin-left: 33px; }
.exp_con_tit1 { width: 81px; text-align: center; font-size: 24px; color: #fff; border: 1px solid #e5e5e5; padding: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.exp_con_tit2 { width: 100px; text-align: center; font-size: 24px; color: #fff; border: 1px solid #e5e5e5; padding: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.exp_con_tit3 { width: 70px; text-align: center; font-size: 24px; color: #fff; border: 1px solid #e5e5e5; padding: 5px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }
.list14 { list-style: inherit; width: 100%; height: auto; overflow: hidden; padding-top: 25px; }
.list14 li { height: 24px; font-size: 14px; color: #fff; line-height: 24px; }
.list14 li a { color: #fff; }
.list14 li + li { margin-left: 0; margin-top: 5px; }
.main { width: 1000px; margin: 0 auto; }
.main-left { width: 650px; float: left; }
.wzzy { font-size: 14px; color: #636767; line-height: 34px; padding: 15px 0; }
.wzzy i { padding: 0 5px; font-style: normal; }
.Btitle { font-size: 34px; line-height: 42px; font-weight: normal; margin-top:35px; }
.content { border-top: 1px solid #ccc; padding: 30px 0 10px 0; margin-top: 20px; font-family: Arial; }
.content p { font-family: Arial; line-height: 26px; color: #404040; padding: 15px 0; font-weight: normal; width:900px; margin:0 auto; }
.content p a { font-family: Arial; }
.content img { max-width: 900px; height: auto; display:block; margin:0 auto; }
.more-con { }
.mor-kw { font-size: 16px; font-family: Arial; padding-bottom: 20px; border-bottom: 1px solid #ccc; }
.mor-kw span { padding-right: 10px; }
.mor-kw i { padding: 5px; background: #3ec7ea; font-family: Arial; color: #fff; }
.mor-kw i a { font-family: Arial; color: #fff; }
.mor-mk { padding-top: 20px; width: 530px; float: left; }
.mor-mk ul { margin-top: 15px; }
.mor-mk ul li { position: relative; line-height: 34px; margin-bottom: 10px; }
.mor-mk ul li i { width: 5px; height: 5px; background: #42a4ea; position: absolute; left: 5px; top: 16px; margin-top: 0px; margin-left: 0px; }
.mor-mk ul li h3 { font-weight: normal; padding-left: 20px; font-size: 18px; }
.mor-tp { padding-top: 20px; width: 430px; float: right; }
.mor-tp ul { margin-top: 13px; overflow: hidden; }
.mor-tp li { width: 210px; float: left; }
.mor-tp li + li { margin-left: 10px; }
.mor-tp li h3 { font-size: 16px; padding-top: 5px; line-height: 18px; font-weight: normal; }
.mor-tp li img { width: 210px; height: 140px; display: block; }
.main-right { width: 320px; float: right; }
.lmt { font-size: 24px; color: #05b3fc; padding: 10px 0; font-family: Arial; }
.lmt a { color: #05b3fc; font-family: Arial; }
.imgbox { margin-top: 30px; }
.imgbox .lmt { background: #4abcf7; color: #fff; padding-left: 15px; }
.imgbox .lmt a { color: #fff; }
.imgbox ul { margin-top: 16px; overflow: hidden; }
.imgbox li { width: 240px; float: left; }
.imgbox li + li { margin-left: 13px; }
.imgbox li p { font-size: 16px; padding-top: 10px; line-height: 18px; font-weight: normal; color: #484848;}
.imgbox li p a { color: #484848; }
.imgbox li img { width: 240px; height: 137px; display: block; }
.dask { position: relative; }
.dask .picleft { position: absolute; left:-85px; top: 40%; width: 85px; height: 85px; background: url(http://www.xinhuanet.com/xilan/img0618/picArrow.png) -85px 0 no-repeat; display: none; }
.dask .picright { position: absolute; right:-85px; top: 40%; width: 85px; height: 85px; background: url(http://www.xinhuanet.com/xilan/img0618/picArrow.png) 0 0 no-repeat; display: none; }
.textbox li { padding: 5px 0 10px; overflow: hidden; color: #484848; font-family: Arial; }
.textbox li a { color: #484848; font-family: Arial; }
.textbox li i { font-style: normal; color: #05b3fc; font-family: Arial; padding-right: 5px; }
.topVideo { position: relative; }
.topVideo-fixed { position: fixed; bottom: 50%; right: 50%; width: 320px!important; height: 200px!important; /* height: 201px; */ margin-right: -510px!important; z-index: 99; background: #333333; padding: 5px; margin-bottom: -406px; }
.topVideo-fixed iframe { width: 320px!important; height: 200px!important; margin: 0px!important; z-index: 9; position: absolute; }
.topVideo-tit { display: none; }
.topVideo-fixed .topVideo-tit { width: 312px; height: 32px; padding-left: 18px; background: #333; cursor: pointer; display: block; line-height: 34px; color: #fff; font-size: 14px; position: absolute; left: 0; top: 0px; z-index: 8; }
.topVideo-tit-cont { display: inline-block; float: left; width: 220px; height: 32px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.topVideo-closeBtn { display: inline-block; float: right; padding-right: 11px; cursor: pointer; color: #b2b2b2; }
.backtotop { display: none; position: fixed; right: 50%; bottom: 50%; z-index: 10; width: 50px; height: 40px; border: 1px solid #c5c5c5; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #f6f6f6; overflow: hidden; cursor: pointer; margin-right: -564px!important; margin-bottom: -407px; }
.backtotop:after { content: ""; display: block; width: 0; margin: 8px auto 0; border-left: 6px solid #f6f6f6; border-right: 6px solid #f6f6f6; border-top: 8px solid #f6f6f6; border-bottom: 8px solid #007bff; }
#div_currpage { margin-top: 20px; }
#div_currpage span { display: inline-block; width: 26px; height: 26px; font-size: 12px; font-weight: 600; color: #FFF; text-align: center; line-height: 26px; background-color: #348CEC; }
#div_currpage a { display: inline-block; padding: 0 10px; height: 26px; font-size: 12px; color: #818181; text-align: center; line-height: 26px; background-color: #F1F3F5; transition: all .4s; -moz-transition: all .4s; ; /* Firefox 4 */ -webkit-transition: all .4s; /* Safari Ã¥â€™Å�? Chrome */ -o-transition: all .4s; ; /* Opera */ }
#div_currpage a:hover { color: #FFF; background-color: #348CEC; }
.bdshare-button-style1-24 { width:160px; float:left;}
.xhapp { width:145px; float:right;}
/*END*/
/*footer*/
.footer { width: 100%; height: 60px; background: url(http://www.newsimg.cn/english/special/19cpcnc/images/footer_bj.png) no-repeat 50% 0; font-size: 16px; color: #fff; padding-top:245px; text-align: center; }
 @media screen and (max-width: 767px) {
.domPC { display: none; }
.domMobile { display: block; }
.banner { width: 100%; height: auto; }
.banner img { width: 100%; height: auto; }
.menu_box { width: 100%; height: 46px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b21414+0,bd1115+13,dc0917+33,fc0018+49,ee0e10+100 */ background: #b21414; /* Old browsers */ background: -moz-linear-gradient(left, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #b21414 0%, #bd1115 13%, #dc0917 33%, #fc0018 49%, #ee0e10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b21414', endColorstr='#ee0e10', GradientType=1 ); /* IE6-9 */
overflow: auto; }
.menu_list { width: 300%; list-style: none; overflow: hidden; }
.menu_list li { float: left; font-size: 1.4rem; line-height: 46px; text-align: center; color: #fff; padding: 0 2%; }
.menu_list li a { color: #fff; }
.menu_list li.on a { color: #ffea00; }
.content { width: 100%; height: auto; position: relative; }
.content p { width:100%;}
/* END */
.main { width: 96%; margin: 0 auto; }
.Btitle { margin-top:20px; }
.main-left { width: 96%; margin: 0 auto; float: none; }
.content img { width: 100% !important; height: auto !important; }
.backtotop { right: 10px; bottom: 60px; margin-right: 0!important; margin-bottom: 0; }
/*footer*/
.footer { width: 100%; height: 35px; background: url(http://www.newsimg.cn/english/special/19cpcnc/mobile/images/footer_bj.png) no-repeat; background-size: 100%; font-size: 0.5rem; color: #fff; text-align: center; padding: 12% 0 0 0; margin-top: 20px; }
/* END */
}
html, body, div, p, hr, pre, h1, h2, h3, h4, h5, h6, table, tr, td, th, tfoot, tbody, thead, form, input, textarea, label, ul, ol, dl, li, dt, dd,.clearfix:after { margin:0; padding:0; }
html, body { height:100%; }
body { color:#000; line-height:22px; text-align:left; }
li { list-style-type:none; }
a { text-decoration:none; outline:none; color:#000; }
a:hover { text-decoration:none; color: #ff9724; }
table { border-collapse:collapse; border-spacing:0; }
iframe,img { border:0;}
img { vertical-align:middle;}
.clearfix { display:block; #zoom:1;}
.clearfix:after { content:''; overflow:hidden; width:100%; height:0px; font-size:0px; display:block; clear: both; }
.part{ width:1000px; margin:0 auto;}
.left{ float:left;}
.right{ float:right;}