.headings {
    color: #000;
    font-family: SimHei,"微软雅黑",sans-serif;
    font-size: 24px;
    text-align: center;
    float: left;
}

#Logo{
    float: left;
}

#TopNavi{
    border: 0;
    float: right;
}

#TopNavi td{
    font-family: SimHei,"微软雅黑",sans-serif;
    font-size: 12px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color: #f0f;
}

h2{
    font-family: SimHei, "微软雅黑", sans-serif;
}